<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>email.sender</param-name>
        <param-value>de180417damnguyenkhang@gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>email.password</param-name>
        <param-value>xxgj oguu egrq jhks</param-value>
    </context-param>
    <listener>
        <listener-class>listener.AppListener</listener-class>
    </listener>
</web-app>